@{
    ViewData["Title"] = "Caja";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cajas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">XCommerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Ventas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Venta/NuevaVenta">Nueva Venta</a>
                                <a class="dropdown-item" href="#">Facturas</a>
                                <a class="dropdown-item" href="/Venta/MasVendidos">Mas Vendido</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid bg-white">
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                <div class="contenedor">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-md-6">
                            <div class="botones">
                                <button type="button" class="btn btn-primary" id="modalCaja">
                                    Abrir Caja
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-md-6">
                            <div class="botones">
                                <div class="alert alert-danger" role="alert">
                                    <p><strong>INFO: </strong>La caja que en color verde es la que esta abierta.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead class="text-center">
                                <tr>
                                    <th>Apertura</th>
                                    <th>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                            fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                                            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                            <path
                                                d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z" />
                                        </svg>
                                        Monto Apertura
                                    </th>
                                    <th>Fecha</th>
                                    <th>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                            fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                                        </svg>
                                        Total Efectivo
                                    </th>
                                    <th>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                                        </svg>
                                        Cta.Cte ING
                                    </th>
                                    <th>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                        Cta.Cte EG
                                    </th>
                                    <th>Cierre</th>
                                    <th>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                            fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                                            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                            <path
                                                d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z" />
                                        </svg>
                                        Monto Cierre
                                    </th>
                                    <th>Fecha Cierre</th>
                                    <th>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                            fill="currentColor" class="bi bi-dice-1" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="1.5" />
                                            <path
                                                d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z" />
                                        </svg>
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center" id="tabla-cajas">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAperturaCaja" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Apertura Caja</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Monto Apertura</label>
                    <input type="number" class="form-control" id="txtMontoApertura">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAbrirCaja">Abrir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-xl" id="modalCierreCaja" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Cierre De caja</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="msj-caja">Información de la caja</h3>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 bg-dark colocarPadding">
                            <div class="row">
                                <div class="col-8 col-sm-8 col-lg-8 col-xl-8 text-white">
                                    <h4>Total Efectivo <strong id="totalEfectivo"></strong></h4>
                                </div>
                                <div class="col-4 col-sm-4 col-lg-4 col-xl-4 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="90" fill="#fff"
                                        class="bi bi-cash-stack" viewBox="0 0 16 16">
                                        <path
                                            d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                        <path
                                            d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 bg-success colocarPadding">
                            <div class="row">
                                <div class="col-8 col-sm-8 col-lg-8 col-xl-8 text-white">
                                    <h4>Cuenta Corriente Salida <strong id="ctacteSalida"></strong></h4>
                                </div>
                                <div class="col-4 col-sm-4 col-lg-4 col-xl-4 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="90" fill="currentColor"
                                        class="bi bi-phone-landscape" viewBox="0 0 16 16">
                                        <path
                                            d="M1 4.5a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-6zm-1 6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v6z" />
                                        <path d="M14 7.5a1 1 0 1 0-2 0 1 1 0 0 0 2 0z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 bg-danger colocarPadding">
                            <div class="col-8 col-sm-8 col-lg-8 col-xl-8 text-white">
                                <h4>Cuenta Corriente salida <strong id="ctacteSalida"></strong></h4>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 bg-primary colocarPadding">
                            <div class="row">
                                <div class="col-8 col-sm-8 col-lg-8 col-xl-8 text-white">
                                    <h4>Total Recaudado <strong id="totalRecaudado"></strong></h4>
                                </div>
                                <div class="col-4 col-sm-4 col-lg-4 col-xl-4 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="90" fill="currentColor"
                                        class="bi bi-list" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnCerrarCaja">Cerrar Caja</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<style type="text/css">
    body {
        background: rgb(222, 222, 222);
    }

    .contenedor {
        background: #fff;
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .botones {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .colocarPadding {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .msj-caja {
        text-align: center;
        font: bold monospace;
        font-weight: 22px;
    }
</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" src="~/js/Caja/Index.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>